* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #072540;
  --text-color: #93c2db;
  --title-color: #ffffff;
  --primary-button: #0069ff;
  --primary-color: #ff8ae2;
  --primary-dark-color: #9c4668;
  --blue-input-color: #183d5d;
  --footer-color: #010e28;

  --primary-font: "Inter", sans-serif;
  font-size: 17px;
}
body {
  font-family: var(--primary-font);
  background-color: var(--main-bg);
  color: var(--text-color);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: 900;
}

p {
  line-height: 30px;
  margin: 20px 0;
}

h1 {
  margin: 30px 0;
}

h2 {
  margin: 20px 0;
}

.pink {
  color: var(--primary-color);
}

.link {
  font-weight: 800;
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary-button);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.input-group {
  display: flex;
}
.input-group .input:first-of-type {
  margin-right: 5px;
}
.input {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.input label {
  margin-bottom: 15px;
  margin-left: 15px;
}
.input input,
.input textarea {
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--blue-input-color);
  border: none;
  padding: 10px 20px;
  height: 60px;
  border-radius: 30px;
  width: 100%;
  resize: none;
}

.input textarea {
  height: 120px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.injected-svg {
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  border-radius: 30px;
  padding: 0 30px;
  font-family: var(--primary-font);
  font-weight: 600;
  background-color: var(--primary-button);
  color: var(--title-color);
  border: none;
  transition: background-color 300ms ease-in-out;
  text-decoration: none;
  font-size: 0.9rem;
}

.button svg,
.button svg path {
  fill: var(--title-color);
}

.button:hover {
  background-color: var(--primary-color);
}

.button.disabled {
  background-color: var(--text-color);
  cursor: default;
}

.button.disabled {
  background-color: var(--text-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header .left {
  display: flex;
  align-items: center;
}
header .logo img {
  width: 50px;
  margin-right: 10px;
}

nav.main .link {
  color: var(--text-color);
  padding: 20px 5px;
  font-size: 0.9rem;
}

footer {
  width: 100%;
  background-color: var(--footer-color);
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 90px;
}

footer .logo {
  width: 45%;
  max-width: 180px;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

footer span {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
.hidden-small {
  display: none;
}

@media (min-width: 900px) {
  .button {
    padding: 0 50px;
    height: 60px;
  }

  header .logo img {
    width: 80px;
    margin-right: 20px;
  }
  
  nav.main .link {
    color: var(--text-color);
    padding: 20px 10px;
    font-size: 1rem;
  }

  footer div {
    flex-direction: row;
    align-items: unset;
  }
  footer {
    padding: 20px 90px 20px 90px;
    flex-direction: row;
    justify-content: space-between;
  }
  .hidden-small {
    display: flex;
  }
}
